<!DOCTYPE html>
<html>

<head>
    <title>Exemplo 2 - layout lvl1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <!-- Header/Welcome -->
    <div class="apresentation">
        <h1>Título</h1>
        <p>subtitulo</p>
    </div>

    <div class="navbar">
        <a href="#">link1</a>
        <a href="#">link2</a>
        <a href="#">link3</a>
        <a href="#">link4</a>
    </div>

    <!-- The flexible grid (content) -->
    <div class="envolucro-main">
        <div class="aside">
            <h2>About Me</h2>
            <div class="icon-ap" style="height:200px;"></div>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamc</p>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div>
        </div>
        <div class="main-cont">
            <h2>Section</h2>
            <h5> 10/10/10</h5>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco.</p>
            <br>

            <div class="gal">
                <!-- Photo Grid -->
                <div class="envolucro">
                    <div class="column-gal">
                        <img src="">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                    </div>

                    <div class="column-gal">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                        <img src="#" style="width:100%">
                    </div>
                </div>
            </div>

            <h2>Section</h2>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco.</p>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <h2>Footer</h2>
    </div>

</body>

</html>